# Gradle work
.gradle
build
classes

# Maven work
target

# IntelliJ IDEA work
*.idea
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml

# Android
local.properties

# Mac OS X
.DS_Store

# Except .gitignore
!.gitignore
tuomatuo-mq/tuomatuo.log.2016-09-21
